@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Passion+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

body{
    background-color: #e7e7e7;
}

img{
    width:100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
.header{
    width:100%;
}

.container{
    margin:0 5rem;
}

.navbar{
    width:100%;
    height:8rem;
    background-color: #fff;
    position:fixed;
    z-index: 500;
    top:0;
    left:0;
}
.side-nav-icons{
    margin:0 5rem;
    height:8rem;
    position: relative;
    display:none;
}

.open-slide .fas{
    color:black;
    font-size: 3.5rem;
    position: absolute;
    top:50%;
    left:3%;
    transform: translateY(-50%);
  } 

.side-nav-icons img{
    width: 4rem;
    float:right;
    position: absolute;
    top:50%;
    right:3%;
    transform: translateY(-50%);
}
  
  #side-menu{
      width:0;
      height:100vh;
      background-color:#242424;
      position: fixed;
      top:8rem;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all ease .3s;
  }

  #side-links{
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity:0;
    transition: opacity ease .3s;
  }

.bottom-links{
display:flex;
align-items: center;
justify-content: center;
position: absolute;
bottom:15%;
}

.bottom-links select{
    margin-right: 1rem;  
    color:#fff;
}

.bottom-links i{
    padding: 0px 2rem;
    font-size: 3rem;
    color: #fff;
}

  #side-menu a{
    color:#fff;
    font-size: 2rem;
  }
  
  .side-nav a:hover{
    color: #2E395A;
  }
  
  .btn-close{
    position:absolute;
    top:2rem;
    right:2rem;
  }

.all-links{
    display:flex;
    justify-content: space-between;
    height:8rem;
}

.main-links{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.main-links li{
    display:inline-block;
    padding: 3rem 2rem;
}

.main-links img{
    width: 4rem;
    margin-right: 1.5rem;
}

.main-links a{
    text-decoration: none;
    color: #242424;
}

.secondary-links{
    display:flex;
    align-items: center;
}

.secondary-links select{
    margin-right: 1rem;  
}

.secondary-links i{
    padding: 0px 2rem;
    font-size: 3rem;
    color: #242424;
}

.hero{
    position: relative;
    background-color: #242424;
}

.hide{
    display:none;
}

.hidden{
    opacity:0;
}

.slider{
    margin-top:8rem;
    width:100%;
    height: 55rem;
    position:relative;
}

.slide{
    opacity: 0;
    transition: opacity .4s;
}


.active{
    opacity: 1;
}

.hero .controls .prev,
.hero .controls .next{
    position: absolute;
    z-index: 2;
    top:50%;
    transform: translateY(-50%);
    font-size: 7rem;
    color:#fff;
    opacity: .7;
    transition: opacity .3s;
}

.controls .prev{
    left:1rem;
}

.controls .next{
    right:1rem;
}

.hero .controls .prev:hover,
.hero .controls .next:hover{
    opacity: 1;
    cursor: pointer;
}

.slider .slide .ad-button{
    position: absolute;
    bottom:10%;
    left:50%;
    transform: translateX(-50%);
    z-index: 6;
    font-size: 1.6rem;
    color: #fff;
    background-color:#242424;
    border: 2px solid #242424;
    padding: 1.5rem 3rem;
    transition: all .3s;
}

.slider .slide .ad-button:hover{
    color:#242424;
    background-color: #e7e7e7;
}

.background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.first-ad{
    background-image: url('imgs/ad1.png');
    background-size: cover;
    background-position: center;
}

.second-ad{
    background-image: url('imgs/ad2.png');
    background-size: cover;
    background-position: center;
}

.third-ad{
    background-image: url('imgs/ad3.png');
    background-size: cover;
    background-position: center;
}

.hero .indicator{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:1.4rem;
    z-index: 200;
}

.hero .indicator div{
    display:inline-block;
    width:2rem;
    height:2rem;
    background-color: #fff;
    border: 2px solid #242424;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    margin: 0 1rem;
}

.hero .indicator div.active{
    background-color: #242424;
    border: 2px solid #fff;
}

.product-showcase{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#no-results{
    width:100%;
    text-align: center;
    display:none;
    font-size: 2.5rem;
    padding:3rem;
}

.products{
    width:30rem;
    height:45rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h2{
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1rem;
}

.products .price{
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.product{
    padding-top:4rem;
    width:30rem;
    height:45rem;
    display:none;
}

.show{
    display:block;
}

.product h2{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
    font-size: 1rem;
}

.product .price{
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
}

main{
    margin-top:9rem;
}

.section-heading{
    display:flex;
    align-items: center;
    justify-content: center;
}

.section-heading h1{
    text-align: center;
    color: black;
    width:40%;
    font-size:2rem;
}

.section-heading h2{
    text-align: center;
    color: black;
    width:40%;
    font-size:2rem;
}

.line{
    background-color: black;
    width:100%;
    height: .25rem;
}

.button{
    font-size: 1.6rem;
    color: #fff;
    background-color:#242424;
    border: 2px solid #242424;
    padding: 1.5rem 3rem;
    transition: background-color .3s, color .3s;
    margin-top: 2rem;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.button:hover{
    color:#242424;
    background-color: #e7e7e7;
}

.shipping{
    margin-top:16rem;
    width:100%;
    height:30rem;
    color:#fff;
    background-color: #242424;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 2rem;
}

.shipping h3{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-family: 'Passion One', Helvetica, sans-serif;
}

.shipping i{
    font-size: 6rem;
    margin-bottom: 3rem;
}

.shipping p{
    font-size: 2rem;
    text-align: center;
}

.new-arrivals{
    margin-top:8rem;
}

.accessories-section{
    margin-top:16rem;
}

.trading-cards{
    margin-top:16rem;
    width:100%;
    padding:2rem;
    color:#fff;
    background-color: #242424;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trading-cards h3{
    font-size: 4rem;
    margin-bottom: .3rem;
    font-family: 'Passion One', Helvetica, sans-serif;
    text-align: center;
}

.trading-cards p{
    font-size: 1.5rem;
    text-align: center;
}

.card-box{
    width:100%;
    padding:1rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    width:10rem;
    height:15rem;
    background-color:#fff;
    margin:1rem 0;
}

.card1{
    background-image: url('imgs/card1.png');
}

.card2{
    background-image: url('imgs/card2.png');
}

.card3{
    background-image: url('imgs/card3.png');
}

.card4{
    background-image: url('imgs/card4.png');
}

.card5{
    background-image: url('imgs/card5.png');
}

.card6{
    background-image: url('imgs/card6.png');
}

.card7{
    background-image: url('imgs/card7.png');
}

.card8{
    background-image: url('imgs/card8.png');
}

.card9{
    background-image: url('imgs/card9.png');
}

.card10{
    background-image: url('imgs/card10.png');
}

.card11{
    background-image: url('imgs/card11.png');
}

.card12{
    background-image: url('imgs/card12.png');
}

.all-products{
    margin-top:20rem;
}

.instagram-section{
    margin-top:8rem;
}

.instagram-section .section-heading{
    margin-bottom:4rem;
}

.posts{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;
}

.insta1{
    width:19.2rem;
    height: 19.2rem;
    background-image: url('imgs/insta1.png');
    background-position: center;
    background-size: cover;
}
.insta2{
    width:19.2rem;
    height: 19.2rem;
    background-image: url('imgs/insta2.png');
    background-position: center;
    background-size: cover;
}
.insta3{
    width:19.2em;
    height: 19.2rem;
    background-image: url('imgs/insta3.png');
    background-position: center;
    background-size: cover;
}
.insta4{
    width:19.2rem;
    height: 19.2rem;
    background-image: url('imgs/insta4.png');
    background-position: center;
    background-size: cover;
}
.insta5{
    width:19.2rem;
    height: 19.2rem;
    background-image: url('imgs/insta5.png');
    background-position: center;
    background-size: cover;
}
.insta6{
    width:19rem;
    height: 19.2rem;
    background-image: url('imgs/insta6.png');
    background-position: center;
    background-size: cover;
}

.insta7{
    width:19rem;
    height: 19.2rem;
    background-image: url('imgs/insta7.png');
    background-position: center;
    background-size: cover;
}


#myBtnContainer{
    width:100%;
    height:6rem;
    background-color: #242424;
    position: fixed;
    z-index: 100;
    top:8rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

#myBtnContainer h2{
    font-size:2rem;
    color:#fff;
    padding:0 2rem;
}

#myBtnContainer label{
    font-size:1.6rem;
    color:#fff;
    margin-left:1rem;
}

#myBtnContainer div{
    display:flex;
    align-items: center;
    padding:0 2rem;
}

form{
    margin: 16rem auto 0 auto;
    width:80%;
    height: 60rem;
    max-width:100rem;
    background-color:#242424; 
    padding: 3rem 4rem;
    border-radius: 1rem;
    text-align: center;
    position:relative;
}

form h1{
    color:#fff;
    margin-bottom: 5rem;
}

.form-field{
    margin: 2rem 0;
    padding: 1.2rem 1.8rem;
    border-radius: .8rem;
    background-color:black;
    border: 1px solid #999;
}

.form-field label{
    display:block;
    text-align: left;
    color: #999;
    font-size:1.4rem;
}

.form-field input, 
.form-field textarea{
    width:100%;
    border:none;
    background: none;
    outline:none;
    resize: none;
    color:white;
    font-size:1.5rem;
}

.submit{
    position:absolute;
    left:50%;
    bottom:4%;
    transform: translateX(-50%);
    padding:1.5rem 3rem;
    border:1px solid #999;
    color:#fff;
    background: none;
    font-size: 1.5rem;
    transition: background-color .3s;
}

.submit:hover{
    background-color: black;
}

#error_message{
    padding:0;
    text-align:center;
    background-color: #fe8b8e;
    font-size:1.4rem;
    transition: all .3s ease;
}

#FAQ{
    margin: 8rem auto;
    width:80%;
}

#FAQ h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

#FAQ h3{
    font-size: 2rem;
    margin-bottom:1rem;
}

#FAQ .question{
    color:#333;
    font-size: 1.6rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

#FAQ .answer{
    color:black;
    font-size: 1.2rem;
    text-transform: lowercase;
}

#FAQ div{
    margin-bottom: 2rem;
    padding:1rem;
}

footer{
    height:45rem;
    position:relative;
    background-color: #fff;
    clear:both;
    z-index: 300;
}

.border{
    display:block;
    width:100%;
    height:.2rem;
    background-color: #999;
}

.footer-bottom{
    min-height: 15rem;
    position:absolute;
    bottom:0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-bottom__links li{
    display:inline-block;
    padding-right:2rem;
}

.footer-bottom__icons li{
    display:inline-block;
    font-size: 3rem;
    padding-right:1rem;
}

.footer-bottom__links a{
    color:#242424;
    text-decoration: underline;
    font-size: 1.3rem;
}

.footer-bottom__links a:hover{
    color:#003457;
}

.footer-bottom p{
    font-size: 1.3rem;
}

.footer-top{
    width:100%;
    padding-top:4rem;
    display:flex;
    justify-content: space-around;
    min-height: 26rem;
}

.footer-third{
    width:33%;
    padding-left: 19rem;
}

.footer-third:nth-child(1){
    padding-left:0;
}

.top{
    margin-bottom: 4rem;
}

.footer-third h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.footer-third h5{
    font-size: 1.4rem;
    margin-bottom: .2rem;
}

.footer-third li{
    list-style: none;
    text-align: left;
    padding: 1rem 0;
    font-size: 1.3rem;
}

.footer-third a{
    color:#242424;
    text-decoration: underline;
}

.footer-third a:hover{
    color:#003457;
}

.footer-third p{
    font-size: 1.2rem;
    padding-top: .3rem;
}

.footer-third i{
    font-size:3.5rem;
    padding:.2rem;
}

.bottom{
    position: absolute;
    right:9rem;
    bottom:3.5rem;
}

.bottom h5{
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

#email{
    width:30rem;
    height:4rem;
    font-size: 1.5rem;
    display:block;
    margin-bottom: 2rem;
    border: 2px solid #242424;
    padding:1rem;
}

.email-button{
    width:10rem;
    padding:1rem 2rem;
    font-size: 1.4rem;
    background-color: #242424;
    border: 2px solid #242424;
    color:white;
    transition: all .3s;
}

.email-button:hover{
    background-color: #e7e7e7;
    color:#242424;
}

@media only screen and (max-width: 1140px){
    .bottom{
        display:none;
    }

    .first-ad{
        background-position: left;
    }
    .second-ad{
        background-position: left;
    }
    .third-ad{
        background-position: left;
    }
}

@media only screen and (max-width: 800px){
    .all-links{
        display:none;
    }

    .side-nav-icons{
        display:block;
    }

    .footer-third{
        padding-left:10rem;
    }

    .section-heading h1{
        width:80%;
    }

    .section-heading h2{
        width:80%;
    }

    #myBtnContainer{
        flex-wrap: wrap;
        height:10rem;
    }
    

}

@media only screen and (max-width: 600px){

footer{
    height: 80rem;
}

.footer-top{
    flex-direction: column;
    min-height: 60rem;
}

.footer-third{
    width:100%;
    padding:0;
}

.footer-bottom{
    bottom:2%;
}

.shipping p{
    margin-bottom:2rem;
}

.section-heading h1{
    width:100%;
}

.section-heading h2{
    width:100%;
}

}
